<footer class="footer">
  <div class="container">
    <div class="footer-content-simple">
      <app-logo/>

      <span class="footer-links-simple">
        <span class="count">{{ totalUrlsShortened | number }} </span> URLS shortened
      </span>
      <p class="footer-tagline">Shorten, share, and manage your links with ease.</p>
    </div>
    <div class="footer-bottom-simple">
      <span>&copy; {{ currentYear }} iNNkie.com. All rights reserved.</span>
      <span class="footer-links-legal">
        <a routerLink="/privacy" class="footer-link">Privacy Policy</a> |
        <a routerLink="/terms" class="footer-link">Terms Of Service</a>
      </span>
    </div>
  </div>
</footer>
