<mat-card class="password-card">
  <div class="lock-icon">
    <mat-icon color="primary" fontIcon="lock"></mat-icon>
  </div>

  <h2 class="title">Secure Access</h2>
  <p class="subtitle">
    Access to this link requires a password. Enter it below to unlock
  </p>

  <div class="info-box">
    <mat-icon color="primary">security</mat-icon>
    <div>
      <strong>Password Required</strong>
      <p>{{notice}}</p>
    </div>
  </div>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Enter your password</mat-label>
    <mat-icon matPrefix>lock</mat-icon>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      [(ngModel)]="password"
      (focus)="onPasswordChange()"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide or show password'"
      [attr.aria-pressed]="!hide"
    >
      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>
  <div class="error" >
    <mat-error class="" *ngIf="errorMessage">{{ errorMessage }}</mat-error>
  </div>

  <button
    mat-raised-button
    color="primary"
    class="unlock-btn"
    (click)="onConfirm()"
  >
    <mat-icon>
      arrow_forward
    </mat-icon>
    Unlock Link
  </button>

  <a (click)="onCancel()"
     class="back-link"
     routerLink="/">← Back to Home</a>

  <span *ngIf="isLoading" class="spinner"></span>
</mat-card>


