<!-- link-editor-dialog.component.html -->
<mat-dialog-content class="dialog-wrapper">
  <h2 mat-dialog-title class="dialog-title">
    <div class="title-left">
      <mat-icon class="title-icon" aria-hidden="true">link</mat-icon>
      <span class="title-text">{{'Edit Link'}}</span>
      <section class="short-code">
        <span class="shortcode">{{data?.shortCode}}</span>
        <span class="clicks"> {{data?.clickCount}} clicks</span>
      </section>
    </div>

    <button mat-icon-button mat-dialog-close class="close-btn" aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </h2>


  <form [formGroup]="form" class="dialog-form" (ngSubmit)="saveEditLink()">

    <!-- BASIC INFO -->
    <section class="form-section">
      <div class="section-header">
        <mat-icon>info</mat-icon>
        <span>Basic Info</span>

      </div>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Link Title</mat-label>
        <input matInput formControlName="title" placeholder="My Campaign Landing Page" matTooltip="Title helps you identify this link in your dashboard"/>
        <mat-error *ngIf="form.get('title')?.hasError('required')">Title is required</mat-error>
        <mat-hint align="end">{{ form.get('title')?.value?.length || 0 }}/200</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Original URL</mat-label>
        <input readonly matInput formControlName="originalUrl" placeholder="https://example.com/..." />
        <mat-error *ngIf="form.get('originalUrl')?.hasError('required')">URL required</mat-error>
        <mat-error *ngIf="form.get('originalUrl')?.hasError('pattern')">Enter a valid URL</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Custom Alias</mat-label>
        <input matInput formControlName="customAlias" placeholder="Enter an alias for the url" />
        <mat-hint>Optional: choose a vanity short code</mat-hint>
        <mat-error *ngIf="form.get('customAlias')?.hasError('aliasTaken')">
          This alias is already taken. Please choose another.
        </mat-error>
        <mat-error *ngIf="form.get('customAlias')?.hasError('minlength')">
          Custom alias must be at least 6 characters long.
        </mat-error>
        <mat-error *ngIf="form.get('customAlias')?.hasError('maxlength')">
          Custom alias cannot exceed 20 characters.
        </mat-error>
        <mat-error *ngIf="form.get('customAlias')?.hasError('pattern')">
          Only letters, numbers, underscores, or dashes allowed.
        </mat-error>
        <mat-error *ngIf="form.get('customAlias')?.hasError('reserved')">
          This alias is reserved!
        </mat-error>

      </mat-form-field>
    </section>

    <!-- EXPIRATION -->
    <section class="form-section">
      <div class="section-header">
        <mat-icon>timer</mat-icon>
        <span>Link Expiration</span>
      </div>
      <div class="expiration-row">
        <mat-button-toggle-group formControlName="expiration" appearance="legacy">
          <mat-button-toggle value="never">Never</mat-button-toggle>
          <mat-button-toggle value="afterClicks">Clicks</mat-button-toggle>
          <mat-button-toggle value="hours">Hours</mat-button-toggle>
          <mat-button-toggle value="days">Days</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field appearance="outline" class="small">
          <mat-label>Value</mat-label>
          <input matInput type="number" formControlName="expirationValue" min="1"
                 matTooltip="Not required when 'Never' is selected"
                 [matTooltipDisabled]="form.get('expiration')?.value !== 'never'"
                 matTooltipPosition="below" />
          <mat-error *ngIf="form.get('customAlias')?.hasError('min')">
            Enter value greater than 0.
          </mat-error>
        </mat-form-field>
      </div>
    </section>

    <!-- PASSWORD PROTECTION -->
    <section class="form-section">
      <div class="section-header">
        <mat-icon>lock</mat-icon>
        <span>Password Protection</span>
      </div>
      <mat-radio-group formControlName="passwordProtected">
        <mat-radio-button [value]="false">None</mat-radio-button>
        <mat-radio-button [value]="true">Require password</mat-radio-button>
      </mat-radio-group>

      <mat-form-field appearance="outline" class="full password-box" *ngIf="form.value.passwordProtected">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput
               [type]="hide ? 'password' : 'text'"
               formControlName="password"
               placeholder="Enter password"
               autocomplete="new-password" />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide or show password'"
          [attr.aria-pressed]="!hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password')?.touched && form.get('password')?.invalid">Min 3 characters</mat-error>
      </mat-form-field>
      <p *ngIf="form.value.passwordProtected">NB: Passwords can be set or changed, but aren’t viewable.</p>
    </section>



    <!-- STATUS -->
    <section class="form-section">
      <mat-slide-toggle formControlName="isActive">
        <span>Active</span>
      </mat-slide-toggle>
    </section>
    <button type="button" mat-stroked-button color="warn" (click)="deleteShortLink()">
      <mat-icon>delete</mat-icon> Delete Link
    </button>


    <!-- ADVANCED -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>tune</mat-icon>
          Advanced Options
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Description</mat-label>
        <textarea matInput rows="2" formControlName="description"
                  placeholder="Optional description for SEO or analytics"></textarea>
      </mat-form-field>
    </mat-expansion-panel>

    <!-- ACTIONS -->
    <mat-dialog-actions align="end">
      <button mat-stroked-button mat-dialog-close (click)="cancel()" color="basic">
        <mat-icon>close</mat-icon> Cancel
      </button>
      <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">
        <mat-icon>save</mat-icon> Save
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
