<div class="dashboard">
  <!-- Header -->
  <header class="dashboard-header">
<!--    <div class="logo">🔗 innkie.com</div>-->
    <button class="settings-btn" (click)="openSettings()">⚙️ Settings</button>
  </header>

  <!-- User Info -->
  <section class="user-card">
    <img [src]="currentUser?.photoURL || 'assets/default-avatar.png'" alt="User avatar" class="avatar" />

    <div class="user-info">
      <h2>{{currentUser?.displayName}}</h2>
      <p>{{currentUser?.email}}</p>
    </div>
  </section>
  <!-- Stats Cards -->
  <section class="stats">
    <div class="stat-card horizontal">
      <i class="fas fa-link"></i>
      <div class="stat-content">
        <h3>Total Links</h3>
        <p>{{currentUser?.totalUrls || 0}}</p>
      </div>
    </div>

    <div class="stat-card horizontal">
      <i class="fas fa-mouse-pointer"></i>
      <div class="stat-content">
        <h3>Total Clicks</h3>
        <p>{{calcTotalClicks}}</p>
      </div>
    </div>

    <div class="stat-card horizontal">
      <i class="fas fa-check-circle"></i>
      <div class="stat-content">
        <h3>Active Links</h3>
        <p>{{calcTotalActive}}</p>
      </div>
    </div>

    <div class="stat-card horizontal">
      <i class="fas fa-hourglass-half"></i>
      <div class="stat-content">
        <h3>Links Remaining</h3>
        <p>{{calcTotalAllowedRemaining}}</p>
      </div>
    </div>
  </section>


  <!-- Controls -->
  <section class="controls">
    <div class="search-controls">
      <i class="fas fa-search"></i>
      <input (keyup)="onSearch($event)" type="text" placeholder="Search links..." />
    </div>
    <div class="select-controls">
      <select #statusSelect (change)="filterByStatus(statusSelect?.value)" class="filter-by-status">
        <option value="all">All</option>
        <option value="true">Active</option>
        <option value="false">Inactive</option>
      </select>
      <select (change)="sortByDate($event)" class="filter-by-date">
        <option value="newest">Newest</option>
        <option value="oldest">Oldest</option>
        <option value="mostClicks">Most Clicks</option>
        <option value="leastClicks">Least Clicks</option>
      </select>
      <button routerLink="/" class="btn primary">+ Create New</button>
    </div>
  </section>

  <!-- Links List -->
  <section class="links-list">
    @for (shortUrl of shortenedUrls; track $index ; let idx = $index ) {
      <app-link-card
        [shortUrl]="shortUrl"
        [apiUrl]="apiUrl"
        (copy)="copyToClipboard($event)"
        (editLink)="edit($event)"
        (editQRCodeEvent)="editQRCode($event)"
        (openLinkDetails)="openDetails($event)"
      ></app-link-card>
    }

    @if (noMore) {
      <div class="noMore">You’re all caught up!...</div>
    }
    <div class="pagination-container" *ngIf="!loading && shortenedUrls?.length">
      <button
        mat-raised-button
        color="primary"
        class="load-more-btn"
        (click)="loadMore()"
        [disabled]="noMore || loading"
      >
        <ng-container>
          <i class="fa-solid fa-arrows-rotate"></i>
          Load More
        </ng-container>
        <ng-template #loadingTpl>
          <mat-progress-spinner
            diameter="18"
            mode="indeterminate"
            color="accent"
          ></mat-progress-spinner>
          <span>
            <i class="fa-solid fa-spinner fa-spin me-2"></i>
            Loading...
          </span>
        </ng-template>
      </button>
    </div>


  </section>
</div>

