<div class="dashboard">
  <!-- Header -->
  <header class="dashboard-header">
    <div class="logo">🔗 innkie.com</div>
    <button class="settings-btn">⚙️ Settings</button>
  </header>

  <!-- User Info -->
  <section class="user-card">
    <img [src]="currentUser?.photoURL" alt="User avatar" class="avatar" />

    <div class="user-info">
      <h2>{{currentUser?.displayName}}</h2>
      <p>{{currentUser.email}}</p>
    </div>
  </section>

  <!-- Stats Cards -->
  <section class="stats">
    <div class="stat-card">
      <h3>Total Links</h3>
      <p>{{currentUser?.totalUrls}}</p>
    </div>
    <div class="stat-card">
      <h3>Total Clicks</h3>
      <p>{{calcTotalClicks}}</p>
    </div>
    <div class="stat-card">
      <h3>Active Links</h3>
      <p>{{calcTotalActive}}</p>
    </div>
    <div class="stat-card">
      <h3>Links Remaining</h3>
      <p>{{calcTotalAllowedRemaining}}</p>
    </div>
  </section>

  <!-- Controls -->
  <section class="controls">
    <input type="text" placeholder="Search links..." />
    <select>
      <option>Active</option>
      <option>Inactive</option>
    </select>
    <select>
      <option>Newest first</option>
      <option>Oldest first</option>
    </select>
    <button routerLink="/" class="btn primary">+ Create New</button>
    <button class="btn">Import</button>
    <button class="btn">Export</button>
  </section>

  <!-- Links List -->
  <section class="links-list">
    @for (shortUrl of shortenedUrls; track $index ; let idx = $index ) {
      <div class="link-card">
        <div class="link-details">
          <img [src]="shortUrl.favicon" alt="Favicon" class="avatar" />
          <div class="link-info">
            <h4>{{shortUrl.title}}</h4>
            <a [href]="apiUrl +'/' + shortUrl.shortCode" target="_blank">{{apiUrl +'/' + shortUrl.shortCode}}</a>
            <p>https://examples.genkit.dev/structured-output</p>
            <span>{{shortUrl?.clickCount}} clicks • {{ shortUrl.createdAt | timeAgo }}</span>
          </div>
        </div>
        <div class="actions">
          <button>📋</button>
          <button>✏️</button>
          <button>⋮</button>
        </div>
      </div>

    }
<!--    <div class="link-card">-->
<!--      <div class="link-info">-->
<!--        <h4>yjbdanquah - LinkedIn</h4>-->
<!--        <a href="#">lnk.ink/pZ2xV</a>-->
<!--        <p>https://linkedin.com/in/yjbdanquah/</p>-->
<!--        <span>0 clicks • 1 hour ago</span>-->
<!--      </div>-->
<!--      <div class="actions">-->
<!--        <button>📋</button>-->
<!--        <button>✏️</button>-->
<!--        <button>⋮</button>-->
<!--      </div>-->
<!--    </div>-->
  </section>
</div>
