//@use 'src/styles/variables' as *;

.dashboard {
  font-family: 'Inter', sans-serif;
  color: #1f2937;
  background: #f9fafb;
  min-height: 100vh!important;
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;

  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    .logo {
      font-weight: bold;
      font-size: 1.25rem;
    }

    .settings-btn {
      border: none;
      background: #e5e7eb;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      cursor: pointer;
    }
  }

  .user-card {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);

    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 1rem;
    }

    .user-info {
      h2 {
        font-size: 1.2rem;
        margin: 0;
      }
      p {
        color: #6b7280;
        font-size: 0.9rem;
      }
    }
  }
  .stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 1.5rem;

    .stat-card {
      background: #fff;
      padding: 0.5rem 0.5rem 0.6rem 0.8rem;
      border-radius: 12px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.09);
      text-align: right;
      margin-bottom: 0.5rem;

      h3 {
        font-size: 0.8rem;
        color: #6b7280;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
  }

  .controls {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
    background: #ffffff;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    justify-content: space-between;

    @media screen and (max-width: 720px) {
     //flex-direction: column;
      width: 100%;
      flex-direction: column;
    }

    .select-controls {
      display: flex;
      gap: 1rem;

       @media screen and (max-width: 720px) {
         display: flex;
         gap: 0.75rem;

       }

    }

    input, select {
      padding: 0.5rem;
      border: 1px solid #d1d5db;
      border-radius: 8px;
      outline: none;

      @media screen and (max-width: 720px) {
        //width: 25%;
      }

      option {
        background-color: #f3f4f6; /* may work in some browsers */
        color: #1f2937;
      }
    }

    .search-controls {
      border: 1px solid #d1d5db;
      border-radius: 8px;
      padding: 0.4rem 0.4rem 0.4rem 0.8rem;
      width: 40%;
      input {
        width: 90%;
        margin-right: 1rem;
        border: none;
        display: inline;

        @media screen and (max-width: 720px) {
          min-width: 100%;
        }
      }

    }

    .btn {
      padding: 0.5rem 1rem;
      border-radius: 8px;
      border: none;
      cursor: pointer;

      &.primary {
        background: #10b981;
        color: white;
      }

      &:not(.primary) {
        background: #e5e7eb;
      }
    }
  }

  .links-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .link-card {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      align-items: flex-start;
      background: #fff;
      padding: 1rem;
      border-radius: 12px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.05);
      border-bottom: 1px solid #d1d5db;

      .link-section {
        display: flex;
        align-items: flex-start;
        gap: 0.75rem;
        width: 100%;
        //padding-bottom: 0.75rem;

        .link-details {
          display: flex;
          flex: 1 1 auto;
          min-width: 0;

          .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 1rem;
            flex: 0 0 auto;
          }

          .link-info {
            overflow: hidden;
            flex: 1 1 auto;
            min-width: 0;

            h4 {
              margin: 0 0 0.25rem 0;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            a {
              display: inline-block;
              color: #2563eb;
              font-size: 0.9rem;
              text-decoration: none;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .link-active {
              display: inline-block;
              font-size: 0.77rem;
              color: #2e7d32;
              background: #e8f5e9;
              padding: 2px 8px;
              border-radius: 6px;
              margin-left: 0.9rem;
            }
            .link-disabled {
              display: inline-block;
              font-size: 0.77rem;
              color: #9e9e9e;
              background: #f5f5f5;
              padding: 2px 8px;
              border-radius: 6px;
              margin-left: 0.9rem;
            }
            p {
              font-size: 0.85rem;
              color: #6b7280;
              margin: 0.25rem 0;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }


            span {
              font-size: 0.9rem;
              color: #9ca3af;
              display: block;
              margin-top: 0.25rem;
              white-space: nowrap;

              .view-details {
                display: inline-block;
                cursor: pointer;

                &:hover {
                  color: #1e4aa8;
                }
              }

              .link-lock {
                padding-left: 1.5rem;
                color: #d22020;
                font-size: 1.001rem;
              }
            }
          }
        }

        .actions {
          display: flex;
          gap: 0.5rem;
          margin-left: auto; /* pushes this group to the far right */

          i {
            background: transparent;
            cursor: pointer;
            color: #6b7280;
            font-size: 1rem;
            margin: 0.25rem;
            transition: color 0.2s ease-in-out, transform 0.12s ease;
            flex: 0 0 auto;

            &:hover {
              color: #1e4aa8;
              transform: scale(1.13);
            }
          }
        }
      }

      .extra-details {
        margin-top: 25px;
        padding: 15px 20px 15px 55px;
        min-height: 3rem;
        width: 100%;
        //border-top: 1px solid rgba(209,213,219,0.4);
        display: flex;
        justify-content: space-between;
        background-color: rgba(209,213,219,0.1);
        border-radius: 0 0 12px 12px;

        .short-url-desc, .created-at {
          display: flex;
          flex-direction: column;

            .extra-details-header {
              font-weight: 600;
              font-size: 0.9rem;
            }

            .details {
              color: #6c757d;
              font-size: 0.7rem;
          }
        }

        .short-url-desc {
          width: 60%;
        }

        .created-at {
          text-align: right;
        }
      }
    }
  }
}
.stat-card.horizontal {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #f9fafb;
  border-radius: 0.5rem;
}

.stat-card.horizontal {
  display: flex;
  justify-content: space-around;
  i {
    font-size: 1.1rem;
    color: rgba(37,99,235, 0.7);
  }
  .stat-content {

  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.load-more-btn {
  background-color: #4f46e5; // violet-600
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  border-radius: 0.75rem;
  padding: 0.75rem 1.75rem;
  box-shadow: 0 2px 6px rgba(79, 70, 229, 0.25);
  transition: all 0.2s ease;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover:not(:disabled) {
    background-color: #4338ca; // violet-700
    box-shadow: 0 4px 10px rgba(79, 70, 229, 0.3);
    transform: translateY(-1px);
  }

  &:active:not(:disabled) {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(79, 70, 229, 0.25);
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  mat-progress-spinner {
    width: 18px !important;
    height: 18px !important;
  }

  span {
    font-size: 0.9rem;
  }
}




